{% include 'scripts.html' %}

{% with messages = get_flashed_messages() %}

    {% if messages%}

        {% for m in messages %}
            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>{{ m }}</strong>
            </div>
        {% endfor %}

    {% endif %}

{% endwith %}
</body>
</html>
