{% if not edit_per %}
<div class="col-md-5 text-center">
    <h3>Add workers</h3>
    <form role="form" method="POST" action="{{url_for('personal')}}">
        <div class="form-group">
            <label for="name">Name: </label>
            <input type="text" name="name" class="form-control" />
        </div>
        <!-- <div class="form-group">
            <label for="occupation">Occupation: </label>
            <input type="text" name="occupation" class="form-control" />
        </div> -->
        <div class="form-group">
            <label for="sel1">Classification level:</label>
            <select class="form-control" id="sel1" name="classlvl">
                <option value="1">1, Staff</option>
                <option value="2">2, Manager</option>
                <option value="3">3, Chef</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default" name="add_worker">Submit</button>
    </form>
</div>
{% endif %}

{% if edit_per %}
<div class="col-md-5 text-center">
    <h3>Edit {{ worker.name }}</h3>
    <form role="form" method="POST" action="{{url_for('personal') + '?edit_per=' + edit_per}}">
        <div class="form-group">
            <label for="name">Name: </label>
            <input type="text" name="name" class="form-control" value="{{ worker.name }}"/>
        </div>
        <div class="form-group">
            <label for="sel1">Classification level:</label>
            <select class="form-control" id="sel1" name="classlvl" value="{{ worker.classlvl }}">
                <option value="{{ worker.classlvl }}" selected>Old value, {{ worker.classlvl }}</option>
                <option value="1">1, Staff</option>
                <option value="2">2, Manager</option>
                <option value="3">3, Chef</option>
            </select>
        </div>

        <div class="form-group">
            <div class="panel panel-default">

                <div class="panel-heading">Manage items</div>
                {% if av_materials %}
                {% for mat in av_materials %}
                <li class="list-group-item">
                    {{mat.material_type}}
                    <div class="pull-right">
                        <input id="opt" name="check" value="{{mat.material_type}}" type="checkbox" {{ 'checked' if mat.material_type in worker.backpack else '' }}/>
                        <label for="opt" class="label-success"></label>
                    </div>
                </li>
                {% endfor %}
                {% endif %}
            </div>
        </div>

        <button type="submit" class="btn btn-default" name="edit_worker">Submit</button>

    </form>
</div>
{% endif %}
