{% include 'header.html' %}

<div class="container-fluid" role="main">
    <div class="row">
        <div class="col-md-5 text-center">
            <h1>Workers</h1>
              <table class="table">
                    {{ table_workers|safe }}
              </table>
        </div>
        <div class="col-md-5 col-md-offset-2 text-center">
            <h1>Materials</h1>
              <table class="table">
                    {{ table_material|safe }}
              </table>
        </div>
    </div>

    <div class="row">
        {% include 'persons_edit.html' %}
        {% include 'materials_edit.html' %}
    </div>
</div>


{% include 'footer.html' %}
